.flex-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.flex-item {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 240px;
  margin: 10px;
}

.flex-item__image {
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
}
